

<div class="flex-holder">
  <!-- replace with your widget id programmatically -->
<app-card-holder-component widgetID="611bddcaf918580035f12709"></app-card-holder-component> 
<!-- replace with your widget id or change programmatically-->
<app-card-holder-component widgetID="611fdea8e667080035c4dbaa"></app-card-holder-component>
</div>


<style>
.example-card {
  max-width: 400px;
  margin: auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
</style>

